<div class="container menu-layout">
    <div class="row">





        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Concluir Desafios</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Conclua desafios em ganhe XP</h5>
                    <p class="card-text">Ganhe Desafios para conquistar XP e avançar de niveis em suas habilidades e atingir maiores colocações no ranking !</p>
                    <a href="#" routerLink="/desafios/lista/fazer" class="btn btn-primary">Vamos la !</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Criar Desafios</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cria Desafios para seus grupos</h5>
                    <p class="card-text">Cria desafios baseado no foco do seu grupo e disponibilize para seus amigos fazerem eles</p>
                    <a href="#" routerLink="/desafios/lista" class="btn btn-primary">Criar Desafios !</a>
                </div>
            </div>
        </div>


    </div>
</div>