<form>


    <div class="container">
        <div class="row">

            <div class="form-group">
                <input type="text" class="form-controle" placeholder="Nome do desasfio">
                <label for="">Nivel requerido</label>
                <select class="form-control form-control-sm">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
            
                  </select>
            </div>

        </div>
    </div>
</form>