<div class="container">
    <div class="row">
        <div class="card col-12">
        
            <div class="page-header">
                <h1>Questão 1</h1>
            </div>

            <div class="card-body">
                <div *ngIf="msgEnd">
                    <h1 align="center">Parabéns você concluiu o desafio</h1>
                </div>
                <div *ngIf="!msgEnd">
                <label for="">
                    <div [innerHtml]="Question.name"> </div>
                        
                </label>
            </div>
        </div>

            <div class="alternatives" *ngIf="!msgEnd">
                <div class="row" *ngFor="let alternativa of alternativas">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio" (click)="setAnswer(alternativa.name)" name="answer" aria-label="Radio button for following text input">
                                    
                                </div>
                            </div>
                            <input type="text"  value="{{alternativa.name}}" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>


                </div>
            
                <br>
              
            </div>
            <button *ngIf="!msgEnd" class="btn btn-primary" (click)="NextQuestion()"> Avançar </button>
            <button *ngIf="msgEnd" (click)="finishChallenger()" class="btn btn-success btn-lg">Concluir Desafio</button>

            <br>





        </div>
    </div>

</div>