<div class="container">
    <div class="row">
        <div align="center" class="col-md-12">
                <h1>Revisa Acertos - Thales</h1>
                <h2>Desafio: Introdução a POO</h2>
        </div>       
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 for="">Questão 1</h2>
            <br>
           <h3> Considere a seguinte  estruturade classes: a classe Postagem  representao caso geral, 
                e as classes  Carta, Telegrama e  Encomenda  representam classes  especializadas
                  que herdam  da classe Postagem.</h3>
        </div>
        <div class="col-md-12">
                <br>
                <h1 for="">Resposta</h1>
                <h4>Está é uma resposta exemplo</h4>
            </div>

            <br> <br> <br> <br> <br>

            <div class="col-md-12">
                <div class="form-group">
                 
                    <input type="radio">
                    <label for="">Certo</label> 
                </div>
                <div class="form-group">
                       
                        <input type="radio"> 
                        <label for="">Errado</label>
                </div>
              
            </div>

            <div class="col-md-12">
                <button class="btn btn-success">Avançar</button>
            </div>
    </div>
</div>