<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label for="questionName">Nome da questão</label>
                        <input type="text" name="questionName" class="form-control">
                    </div>


                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Alternativa 1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Alternativa 1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Alternativa 1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Alternativa 1">
                    </div>
                </div>
            </div>

        </div>
        <label for="correct">Alternativa Correta</label>
        <select class="form-control" name="correct" id="">
            <option>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br />


        <button class="btn btn-success">Salvar e Sair</button>
        <button class="btn btn-primary">Cadastrar Outra Questão</button>





    </div>
</div>