<div class="container">
    <div class="row">
        <div class="card col-6">
            <div class="page-header">
                <h3>Nova Questão</h3>
            </div>

            <div class="card-body">

                <label for="questionName">Descrição</label>
                <div class="form-group">
                   <ckeditor [(ngModel)]="data.question.name"></ckeditor>
                </div>
            </div>

            <div class="form-group">
                <label for="">Habildidade</label>
                <select [(ngModel)]="data.question.habilidade" class="form-control" name="habilidade" id="habilidade">
                    <option>Abstração</option>
                    <option>Herança</option>
                    <option>Polimorfismo</option>
                    <option>Objetos</option>
                </select>
            </div>
            <div *ngIf="statusTipo" class="alternatives container">
                <h1>Alternativas</h1>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" [(ngModel)]="data.question.alternatives.one.correct" value="1" name="band-rock" aria-label="Radio button for following text input">
                                    </div>
                                </div>
                                <input type="text" [(ngModel)]="data.question.alternatives.one.name" class="form-control" name="alternative-1" placeholder="Alternativa 1">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="band-rock" [(ngModel)]="data.question.alternatives.two.correct" aria-label="Radio button for following text input"> </div>
                                </div>
                                <input type="text" [(ngModel)]="data.question.alternatives.two.name" class="form-control" name="alternative-2" placeholder="Alternativa 2">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" value="3" [(ngModel)]="data.question.alternatives.three.correct" name="band-rock" aria-label="Radio button for following text input">
                                    </div>
                                </div>
                                <input type="text" [(ngModel)]="data.question.alternatives.three.name" class="form-control" name="alternative-3" placeholder="Alternativa 3">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" value="4" [(ngModel)]="data.question.alternatives.four.correct" name="band-rock" aria-label="Radio button for following text input">
                                    </div>
                                </div>
                                <input type="text" [(ngModel)]="data.question.alternatives.four.name" class="form-control" name="alternative-4" placeholder="Alternativa 4">
                            </div>
                        </div>
                    </div>



                   

                </div>
          
            </div>
            <button (click)="saveQuestion()" class="btn btn-custom btn-primary">Salvar Questão</button>





        </div>

        
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h1>Questões do desafio</h1>
                           
                        </div>

                        <div class="card-body">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descrição</th>

                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let question of questionsArray">
                                        <td>{{question.id}}</td>
                                        <td>{{question.name}}</td>

                                        <td>
                                            <button class="btn btn-danger">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


        

        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button (click)="saveChallenger()" class="btn btn-custom btn-primary">Salvar Desafio</button>

        </div>



        <div *ngIf="status">
            Gravado com sucesso Alternativa: {{data.question.alternatives.one.name}}
        </div>

    </div>