


    <div class="app-body">
            <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h1>IMPORTANTE LEIA ANTES DE PROSSEGUIR</h1>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    
                    
                    <div class="row">
                        <p>Ola, meu nome é Thales Morais de Almeida sou estudante do Curso de sistemas 
                            de Informação da Universidade Regional Integrada do Alto Uruguai e das Missões - URI.  
                            E estou validando um ambiente de apoio ao aprendizado com utilização de técnicas de 
                            gamificação, se possível gostaria de 5 a 10 minutos do seu tempo para ajudar testando 
                            o ambiente e 
                            deixando um feedback. 
                            Para isso pesso que prossiga 
                            para a próxima tela e clique no 
                            link a direita escrito desafios,
                             nesta aba você vai poder fazer 
                             alguns desafios ou criar seus 
                             própios desafios e convidar 
                             amigos para respondelos. 
                             Toda a informação será gravada em seu perfil e você poderá acompanhar o ranking 
                             global na aba ranking. 
                             <br><br><br><br>
                             </p>

                          <br><br>
                           <div class="card">
                                <div class="card-body">
                                        <b style="color: black; font-size: 24px;">
                                                Passo 1 - Peço que faça ao menos um desafio e olhe seu perfil e ranking, após este processo se possivel responda o questionário clicando no link questionario.
                                           </b>
                                           <br><br>
                                        <b style="color: red; font-size: 24px;">Passo 2 - Clique no botão abaixo para inicializar os componentes do sistema</b>
                                            <br>
                                            <br><br> <br><br>
                                        <a href="#" class="btn btn-lg btn-success">Inicializar Componentes</a>
                                </div>
                            </div>
                            
                    </div>
                </div>



    </div>