<nav class="sidebar-nav">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" href="#">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" href="#">
                <i class="fas fa-address-card"></i> Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/ranking" href="#">
                <i class="fas fa-bars"></i>Ranking
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/grupo" href="#">
                <i class="fas fa-users"></i>Grupos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/desafios/lista" href="#">
                <i class="fas fa-chalkboard"></i> Desafios
            </a>
        </li>

    </ul>
</nav>