<nav class="sidebar-nav">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" href="#">
                <i class="fas fa-address-card"></i> Perfil
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/rank" class="nav-link">
                <i class="fas fa-bars"></i>Ranking
            </a>
        </li>

       
         <!--   <li class="nav-item">
            <a class="nav-link" routerLink="/grupo" href="#">
                <i class="fas fa-users"></i>Grupos
            </a>
        </li>-->
    

        <li class="nav-item">
            <a class="nav-link" routerLink="/desafios" href="#">
                <i class="fas fa-chalkboard"></i> Desafios
            </a>
        </li>

        <li class="nav-item">
                <a class="nav-link" routerLink="/questionario" href="#">
                    <i class="fas fa-address-card"></i> Questionario
                </a>
            </li>
        <li class="nav-item">
             <a class="nav-link" routerLink="/desafios/corrigir-acertos">
                 <i class="fas fa-address-card"></i> Corrigir Desafios
            </a>
        </li>
    

    </ul>
</nav>