<app-profile [tab]="active">
    <div class="container">
        <div class="row">
                <div *ngIf="status" class="col-md-12">
                        <div class="alert alert-success" role="alert">
                                Dados Salvos com sucesso
                         </div>
                </div>
                <div class="col-md-8">
                        <div class="form-group">
                            <label for="">Nome de Usuario</label>
                            <input type="email" class="form-control" [(ngModel)]="user.username">
                        </div>
                 </div>
            <div class="col-md-8">
                   <div class="form-group">
                       <label for="">E-mail</label>
                       <input type="email" class="form-control"  [(ngModel)]="user.email">
                   </div>
            </div>
            <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Senha</label>
                        <input type="password" class="form-control"  [(ngModel)]="user.password" placeholder="Digite Sua nova Senha">
                    </div>

                    <button (click)="saveData()" class="btn btn-success">Atualizar Dados</button>
             </div>

           
            
            


        </div>

    </div>

</app-profile>